.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.idea
/.idea/
frametest/switch.js

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

/.vscode/
/.settings/

/.project
